@tailwind base;
@tailwind components;
@tailwind utilities;

/*
input[type="checkbox"] {
    width: 150px;
    height: 150px;
    accent-color: #fee819;
  } */

  @media screen and (max-width: 393px) {
  
   
   
  }

