@tailwind base;
@tailwind components;
@tailwind utilities;

/*
input[type="checkbox"] {
    width: 150px;
    height: 150px;
    accent-color: #fee819;
  } */
[x-cloak] { display: none !important; }

  #checkbox {
    display: none;
  }

  .toggle {
    position: relative;
    width: 25px;
    height: 30px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
    transition-duration: .5s;
  }

  .bars {
    width: 100%;
    height: 3px;
    background-color: white ;
    border-radius: 4px;
  }

  #bar2 {
    transition-duration: .8s;
  }

  #bar1 {
    width: 50%;


  }

  #bar2 {
    width: 75%;
  }

  #checkbox:checked + .toggle .bars {
    position: absolute;
    transition-duration: .5s;
  }

  #checkbox:checked + .toggle #bar2 {
    transform: scaleX(0);
    transition-duration: .1s;
  }

  #checkbox:checked + .toggle #bar1 {
    width: 100%;
    transform: rotate(45deg);
    transition-duration: .5s;
  }

  #checkbox:checked + .toggle #bar3 {
    width: 100%;
    transform: rotate(-45deg);
    transition-duration: .5s;
  }

  #checkbox:checked + .toggle {
    transition-duration: .5s;
    transform: rotate(180deg);
  }


  .side-bar {
    transform: translateX(-700px);
  }

  .side-bar.active {
    transform: translateX(5vw);
    -webkit-transform: translateX(5vw);
    -moz-transform: translateX(5vw);
    -ms-transform: translateX(5vw);
    -o-transform: translateX(5vw);
}

.alert {
  position: fixed;
  top: 50px;
  right: 200px;
  transform: translateX(0);
  background-color: white !important;
  /* color: black; */
  opacity: 1;
  animation: In 2.5s forwards, Out 2.5s forwards 5s;
  border: 2px solid transparent;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(1, 59, 13, 0.1);
  width: 300px;
}

@keyframes In {
  0% {
      right: -200px;
      opacity: 0;
  }

  50% {
      right: 2%;
      transform: translateX(-50%);
      opacity: 1;
  }
  100% {
      right: 0%;
      transform: translateX(-50%);
      opacity: 1;
  }
}

@keyframes Out {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}

@media (max-width: 640px) {
  .alert{
    left: 200px;
  }
}

